.coaches-container {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-right: 2%;

} 

h1{
    margin-bottom: 0px;

} 

#head{
    margin-top: 0px;

} 

.coach-title{
    align-self: center;
    color: red;
} 

.coach span {
    color: rgb(228, 196, 12);
} 

.coach-bio{
    font-size: 1.2rem;
    line-height: 2rem;  
} 

.coach-image {
    display: flex;
    float: left;
    margin-right: 1%;
} 


/*Media query for phones */ 
@media only screen and (max-width: 767px) {
    .coaches-container{
        align-items: center;

    } 

    .coach-image{
        float: none;
        justify-content: center;
    } 

    .coach-name{
        display: flex; 
        justify-content: center;

    } 
    
    
}