/*Flex box */
.nav-container{
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: nowrap;
    background-color: black;
    height: 8.9vh;
    

}

.nav-container > .nav_text{
    font-size: 24px;  
    color: white;
    text-decoration: none;
} 

/*after link has been clicked on make sure it doesn't change color*/ 
.nav_text a:visited{
    color: inherit; 
    text-decoration: none;
} 

#knight_img img{
    height: 80px;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
}